/*ipad mini ширина 768px*/
@media (max-width: 768px) {
	.top_nav-menu {
		display: none;
	}
	.top_nav-socials {
		display: none;
	}
	.top_nav-adapt {
		display: block;
	}
    .top_nav-logo {
    	text-align: center;
    }
	img[alt="logo_small"] {
	display: inline-block;
	text-align: right;
	
    }
    img[alt="logo"] {
	display: none;
    }
    .button {
        width: 12.5rem;
        height: 3.125rem;
        padding: 0;
    }

    .button a {
        font-size: 0.75rem;
    }
    .top_nav-logo {
    	padding-top: 15px;
    	
    }

    .top_nav-adapt {
    	position: absolute;
        top:3rem;
        right: 0;
    	/*padding-right: 10px;*/
    }

    .slider {
    	background-size: cover;
        height: 33.75rem;
    	/*margin-bottom: 1vw;*/
    	/*padding-bottom: 10vw;*/
    }

    .slider button {
        margin-left: 4rem;
    }

    .slider_buttons {
    	display: none;
    }

    .slider h1 {
        margin-top: 4.68rem;
    }
    h1 {
    	font-size: 2.5rem; 
    	line-height: 2.81rem;
    }

    .slider p {
    	font-size: 1rem;
    	line-height: 1.5rem;
    }

  
    .about_me {
        height: 36.43rem;
    }
    .about_me p {
    	font-size: 0.875rem;
    	line-height: 1.56rem;
    	width: 16rem;
        top: 8rem;
        left: 18rem;
    }


    .about_me h2 {
    	font-size: 2.5rem;
    	line-height: 3.125rem;
    	left: 10.375rem;
    	top: 1.25rem;
    }

    .about_me-img {
     width: 13.75rem;
     height: 15.625rem;
     left: 2rem;
     top: 6rem;
    }

    .about_me  h3 {
    	left: 7rem;
    	top: 25.43rem;
    }

    .about_me button {
    	
    	width: 12.5rem;
    	height: 3.125rem;
    	top: 28rem;
        left:20rem;
    }
    .about_me a {
    	font-size: 0.75rem;
    	line-height: 0.875rem;
    }
    .baby_girl {
        height: 25rem;
        background: url(../img/baby_girl_ipad_mini.jpg) center center no-repeat;
        background-size:  auto; 
        
    }
    .baby_girl p {
        margin-top: 1rem;
        font-size: 0.875rem;
        line-height: 1.56rem;
    }
    .kavichka {
        margin-top: 1rem;
        width: 3rem;
        height: auto;
    }
    .pregnat {
        width: 15rem;
        height: 17rem;
        /*margin-right: 0.5rem;*/
    }

    .newborn {
        width: 15rem;
        height: 17rem;
        /*margin-right: 0.5rem;*/
    }
    .parents {
        width: 15rem;
        height: 17rem;
    }
   .pregnat p {

    background:  #B6F2F2;
    display: inline-block;
    width: 100%;
    height: 5rem;
    }

     .newborn p {

    background:  #B6F2F2;
    display: inline-block;
    width: 100%;
    height: 5rem;
    }

     .parents p {

    background:  #B6F2F2;
    display: inline-block;
    width: 100%;
    height: 5rem;
    }

    .btn_cat {
    margin-left: 1rem;

}

.btn_cat .button {
   margin-bottom: 2.5rem;
}

    .categories {
        margin-top: 5.25rem;
    }

    .review h2 {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
    .review_content h4 {
        font-size: 1.375rem;
        line-height: 1.875rem;
    }
    .review_content p {
        font-size: 0.875rem;
        line-height: 1.625rem;
    }

    .contact h2 {
        font-size: 2.5rem;  
        line-height: 2.5rem;
    }

    .contact_txt {
        font-size: 0.875rem;
        line-height: 1.625rem;
    }

    .footer_txt li {
        font-size: 0.75rem;
        line-height: 0.875rem;
    }

    .copyright {
        font-size: 0.75rem;
    }

   /*==========2 page About====*/
  /* .about_1-content {
    margin-top: 2rem;
   }*/
    .about_1-foto {
    display: block;
    width: 29.3rem;
    height: auto;
    }

    .about_1-h2 {
        display: none;
    }

    .about_1-h2_2 {
    display: block;
}
 /*   .about_1-h2 {
    left: 17.6rem;
    top: 0;
    }*/

    .about_1-txt {
    
    left: 35.56rem;
    top: 5.3rem;
     font-size: 0.875rem;
     line-height: 1.5rem;
    }

    .about_2-img {
     display: block;
     width: 26.25rem;
     height: auto;

    }

     .about_3-img {
     display: block;
     width: 26.25rem;
     height: auto;

    }

    .about_2-txt {
        width: 100%;
        font-size: 0.875rem;
       line-height: 1.5rem;
    }
    .about_3-txt {
        width: auto;
        font-size: 0.875rem;
        line-height: 1.5rem;
    }

    .about_5-certificate {
        width: 31.25rem;
    }
}



 @media (max-width: 1900) and (min-width: 769px) {
            html {
                font-size: calc(100vw/120); /*//100% ширины экрана деленное на произвольное число*/
            }
        }
